{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block body %}

{% load static %}



<div class="container">
    <div class="row">
        <div class="col text-center">
            
            <div class="section_title"><h2>A few words about us</h2></div>
        </div>
    </div>
    <div class="row about_row">
        <div class="col-lg-6">
            <div class="about_content">
                <div class="text_highlight">Welcome to our comprehensive college website that offers a diverse range of academic programs to cater to your educational aspirations. </div>
                <div class="about_text">
                    <p> For those inclined towards the dynamic world of commerce, we provide an array of courses including 'BBA' (Bachelor of Business Administration) to foster effective management skills, 'BCom' (Bachelor of Commerce) to lay a strong foundation in business principles, and 'MCom' (Master of Commerce) for an advanced understanding of economic dynamics. If the realm of science captivates you, we offer 'BSc' (Bachelor of Science) programs for in-depth scientific exploration, 'MSc' (Master of Science) programs for specialized knowledge, and 'PhD' courses for those /seeking to contribute to the frontiers of scientific discovery.<p>
                </div>
                <div class="button about_button"><a href="{% url 'schoolapp:login' %}">Login</a></div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="about_image"><img src="{% static 'images/about_2.jpg' %}" alt=""></div>
        </div>
    </div>
</div>
</div><br><br>



<!-- Why Choose Us -->

<div class="why">
<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/college_3.jpg' %} " data-speed="0.8"></div>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <div class="section_title"><h2 style="color: black;">Why choose us?</h2></div><br>
        </div>
    </div>
    <div class="row why_row">
        
        <!-- Why item -->
        
        <div class="col-lg-4 why_col">
            <div class="why_item">
                <div class="why_image">
                    <img src="{% static 'images/students.jpg' %}" alt="">
                    <div class="why_icon d-flex flex-column align-items-center justify-content-center">
                        <img src="{% static 'images/book.svg' %}" alt="">
                    </div>
                </div>
                <div class="why_content text-center">
                    <div class="why_title">Academic</div>
                    <div class="why_text">
                        <p>
                            Our institution is committed to delivering education of the highest quality, ensuring that our teaching provides nothing but the best to our students.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 why_col">
            <div class="why_item">
                <div class="why_image">
                    <img src="{% static 'images/graduation.jpg' %}" alt="">
                    <div class="why_icon d-flex flex-column align-items-center justify-content-center">
                        <img src="{% static 'images/book.svg' %}" alt="">
                    </div>
                </div>
                <div class="why_content text-center">
                    <div class="why_title">Achievement</div>
                    <div class="why_text">
                        
                        <p>We take pride in maintaining a consistently high pass percentage, reflecting our dedication to academic excellence and student success.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 why_col">
            <div class="why_item">
                <div class="why_image">
                    <img src="{% static 'images/lib.jpg' %}" alt="">
                    <div class="why_icon d-flex flex-column align-items-center justify-content-center">
                        <img src="{% static 'images/book.svg' %}" alt="">
                    </div>
                </div>
                <div class="why_content text-center">
                    <div class="why_title">Knowledge</div>
                    <div class="why_text">
                        <p>
                            Our well-stocked library ensures that students have access to a wide range of books, fostering a conducive environment for acquiring extensive knowledge.</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
</div>




<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/greensock/TweenMax.min.js' %}"></script>
<script src="{% static 'plugins/greensock/TimelineMax.min.js' %}"></script>
<script src="{% static 'plugins/scrollmagic/ScrollMagic.min.js' %}"></script>
<script src="{% static 'plugins/greensock/animation.gsap.min.js' %}"></script>
<script src="{% static 'plugins/greensock/ScrollToPlugin.min.js' %}"></script>
<script src="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
<script src="{% static 'plugins/easing/easing.js' %}"></script>
<script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
<script src="{% static 'js/about.js' %}"></script>



{% endblock %}